/***********全局重置CSS*****************/
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, dd {margin: 0;}
p {margin: 0;}
ul, ol, li {padding-left: 0;list-style-type: none;}
/***消除img默认边框*****/
img {border: 0;display: block;}
a {text-decoration: none;color: inherit;}
/*细线表格*/
table {border-collapse: collapse;}
em {font-style: normal;}
/***默认让所有浏览器出现右边滚动条****/
html {font-size: 16px;}
/***默认清除浮动****/
body {font-family: "微软雅黑", "sans-serif", "Arial";position: relative;background-color: #f1f4f9;}

.ALLYdCont{ display:none;}
.ALLPcCont{ display:block;}
.YDmenu{ cursor:pointer; background:rgba(0,0,0,.5) url(https://wjw.sz.gov.cn/ztimages/zfzxapp20221130_10.png) center center no-repeat;  width:5rem; height:5rem; text-indent:-9999px;  background-size:50% auto; border-radius:100%; }
.jyzx_mune .top_btn{ overflow:hidden;}
.jyzx_mune .closeBtn{ text-align:right;  color:#fff; font-size:3rem;}
.YDmenuCont_box{ background:rgba(0,0,0,.65); display:none; position:fixed; top:0px; left:0; width:100%; height:100%; z-index:998; }

.conter{max-width: 1520px;margin: 0 auto;position: relative;}
.jyzx_top{background: #fff;}
.jyzx .jyzx_header{max-width: 1520px;margin: 0 auto;padding: 0.75rem 0; display: flex;justify-content: space-between;align-items: center;}
.jyzx .jyzx_header .logo{width:36.81rem;}
.jyzx .jyzx_header .logo img{width: 100%;height: auto;}
.jyzx .jyzx_header .search{height: 2.31rem;width: 21.56rem;border: 1px solid #0d5cbb;display: flex;justify-content: space-between;align-items: center;}
.jyzx .jyzx_header .search input{padding:0 0.56rem; border: none;font-size: 1.13rem;color: #b5b5b5;        flex-grow: 1;}
.jyzx .jyzx_header .search input:focus{ outline: none;}
.jyzx .jyzx_header .search .btn{width: 3.56rem;height: 100%;color: rgba(0, 0, 0, 0); background: url(https://wjw.sz.gov.cn/ztimages/jyzx_searchBtn_20240528.png) center center no-repeat #0d5cbb;background-size: auto 80%;} 
.jyzx_mune{width: 100%;height: 4.56rem;background: #0d5cbb;}
.jyzx_mune .tabs{max-width: 1520px;height: 100%; margin: 0 auto;display: flex;align-items: flex-start;}
.jyzx_mune .tabs li{width: 13.15%;height: 100%; background: #0d5cbb;color: #fff;}
.jyzx_mune .tabs li a{width: 100%; height: 100%; font-size: 2rem;display: flex; align-items: center;justify-content: center;}
.jyzx_mune .tabs li.lang-switch{width: auto;margin-left: auto;padding: 0 1.5rem;}
.jyzx_mune .tabs li.lang-switch a{font-size: 1.4rem;white-space: nowrap;}
.jyzx_mune .tabs li div{display: none;background-color: #1c6ed4;position: relative;z-index: 10;}
.jyzx_mune .tabs li div a{padding: 0.75rem 0; font-size: 1.5rem;}
.jyzx_mune .tabs li .hover{background-color: #4287db;}
.jyzx_mune .tabs li .active{display: block;}
/* .jyzx_banner{width: 100%;height: 21.88rem;margin: 0 auto; background: url(jyzx_banner_20240528.png) center center no-repeat ;background-size: cover;} */
.jyzx_banner{width: 100%;margin: 0 auto;}
.jyzx_banner img{width: 100%;height: auto;}
.jyzx_center{max-width: 1520px;margin: 2.125rem auto;display: flex;justify-content: space-between;}

.jyzx_center .jyzx_LeftCont{ width:40%;}

.jyzx_center .jyzx_LeftCont .swiper-container { width: 100%; margin-left: auto; margin-right: auto;}
.jyzx_center .jyzx_LeftCont .swiper-slide {background-size: cover;background-position: center;height: 28.68rem;}
.jyzx_center .jyzx_LeftCont .swiper-slide img{width:100%;height: 100%}
.jyzx_center .jyzx_LeftCont .gallery-top {width: 100%;}
.jyzx_center .jyzx_LeftCont .gallery-thumbs {box-sizing: border-box;padding: 10px 0;}
.jyzx_center .jyzx_LeftCont .gallery-thumbs .swiper-slide {height: 100%;opacity: 0.4;}
.jyzx_center .jyzx_LeftCont .gallery-thumbs .swiper-slide-active {opacity: 1;}
.jyzx_center .jyzx_LeftCont .swiper-pagination{ text-align:right;left: unset;right: 1.4rem;bottom: 1rem;}
.jyzx_center .jyzx_LeftCont .swiper-pagination-bullet{ width:1.28rem; height:1.28rem; background:#fff; opacity:10;}
.jyzx_center .jyzx_LeftCont .swiper-pagination-bullet-active{ background:#fcca01;}
.jyzx_center .jyzx_LeftCont .swiper-button-white{ background-color:rgba(27,27,27,.2); padding:0.5em;}
.jyzx_center .jyzx_LeftCont .swiper-button-next, .conter .TopCont .PicLeftCont .swiper-button-prev{}

.jyzx_rightCont{padding: 1.875rem 2.75rem ; width: 57.69%;background: #ffffff;box-sizing: border-box;}
.jyzx_rightCont .right_tabs{display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid #828282;}
.jyzx_rightCont .right_tabs div div{padding: 0 1.5rem 0 0.56rem; margin-right: 2rem; font-size: 2.13rem;height: 3.69rem;line-height: 3.69rem;font-weight: bold;color: #307cd9;cursor: pointer;}
.jyzx_rightCont .right_tabs div {display: flex;align-items: center;}
.jyzx_rightCont .right_tabs div .active{color: #fff;background: url(https://wjw.sz.gov.cn/ztimages/jyzx_titBg_20240528.png) center top no-repeat ;background-size: 100% 100%;}
.more a{display: none;font-size: 1.13rem;color: #787878;}
.more .hover{display: block;}
.right_list{display: none;}
.right_list div {margin-top: 1.875rem;}
.right_list div a{font-size: 1.63rem;line-height: 3.31rem;font-weight: bold;color: #307cd9;}
.right_list ul{}
.right_list ul li{margin-top: 1.75rem; display: flex;justify-content: space-between;}
.right_list ul li a{padding-left: 1.5rem;margin-right: 1.5rem; display: block;position: relative; font-size: 1.13rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.right_list ul li a::before{content: '';width: 0.5rem; height: 0.5rem;background: #307cd9; display: block;position: absolute;top: 50%;left: 0;transform: translate(0, -50%);}
.right_list ul li span{font-size: 1.13rem;color: #a8a8a8;white-space: nowrap;}
.show{display: block;}

.footer_con{max-width: 1520px;display: flex;align-items: center;justify-content: space-between;}
.footer_con .text{padding: 0 15%;}


@media (max-width:1460px) {
    html{font-size: 14px;}
}

@media (max-width:1200px) {
    html{font-size: 12px;}
}
@media (max-width:860px){
    html{font-size: 10px;}
    .jyzx .jyzx_header,.jyzx_center{width: 94%;}
    .jyzx_rightCont .right_tabs div div{font-size: 2rem;}

    .ALLYdCont{display:block !important; }
    .ALLPcCont{ display:none !important;}
    .top_bg_con{ width:94%;}
    .jyzx_mune{ position:fixed; width:50%; background:rgba(13, 92, 187, .9);; right:0; top:0; display:block; padding:0.5em; height:100%; z-index:999; display:none;}
    .jyzx_mune .tabs{ font-size:7rem;display:block;}
    .jyzx_mune .tabs li{ float:none; text-align:center; line-height:2;}
    .jyzx_mune .tabs li a,.jyzx_mune .tabs li.hover a{ color:#fff}
    .jyzx_mune .tabs li.hover:after{ display:none;}
    .top_bg_con .logo{ width:45%;}
    .jyzx .jyzx_header{padding: 3% 0;}
    .jyzx .jyzx_header,.jyzx_center{flex-wrap: wrap;}
    .jyzx .jyzx_header .logo {width: 73%;}
    .jyzx .jyzx_header .search{margin-top: 3%; width: auto;height: 3rem;}
    .jyzx .jyzx_header .search input{font-size: 2rem;}
    .jyzx_center .jyzx_LeftCont,.jyzx_rightCont{width: 100%;}
    .jyzx_mune .tabs li div{display: block;}
    .jyzx_mune .tabs li{width: 100%; height: auto;}
}
@media (max-width:780px){
   body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,input,button{font-size: 1.5rem;}
   .ny {background-color: #fff;}
}
@media (max-width:680px){
    .jyzx .jyzx_header .logo { width: 85%;}
    .jyzx .jyzx_header .search{width: 100%;}
    
    .YDmenu{width: 3.5rem;height: 3.5rem;}
    /* .jyzx_banner{height: 25rem;} */
    .jyzx_rightCont{padding: 3% 3% 6%;}
    .jyzx_rightCont .right_tabs div div { font-size: 1.5rem;}
    .right_list div a{font-size: 1.4rem;    line-height: 2.31rem;}
    .right_list ul li a,.right_list ul li span{font-size: 1.3rem;}
    .jyzx .jyzx_header .search input {font-size: 1.5rem; }
}
